#FOR COMMON APP
APP_PORT = 
APP_URL = 
APP_CLIENT_URL = 


# FOR DB
MONGO_URI = 

# FOR REDIS
REDIS_HOST = 
REDIS_PORT = 

# FOR JWT
JWT_ACCESS = 
JWT_REFRESH = 

# Mail
MAIL_HOST = 
MAIL_USER = 
MAIL_PASSWORD = 
MAIL_FROM = 
